@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@0,500;1,500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: 'Montserrat', sans-serif;
}
::-webkit-scrollbar {
  width: 8px;
}

.header h1 {
  margin: 0 !important;
  padding: 0 !important;
}

/* track */
::-webkit-scrollbar-track {
  background-color: #0A192F ;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #013f3c7f; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #013f3c7f; 
}

i{
  cursor: 'pointer';
}

i:hover{
  color: white;
}


/* loader animation */

.a{
  animation: a 1s infinite;
}

@keyframes a {
  0%{
    opacity: 1;
  }
  50%{
    opacity: 0.5;
  }
  100%{
     opacity: 0.5;
  }
}

.k{
  animation: k 1s infinite;
}

@keyframes k {
  0%{
    opacity: 0.5;
  }
  50%{
    opacity: 1.5;
  }
  100%{
     opacity: 0.5;
  }
}

.p{
  animation: p 1s infinite;
}

@keyframes p {
  0%{
    opacity: 0.5;
  }
  50%{
    opacity: 0.5;
  }
  100%{
     opacity: 1;
  }
}

input, textarea{
  height:40px;
  border: 1px solid gray;
  width: 100%;
  padding-left: 20px;
}

input:focus{
  outline: none;
  border: 2px solid black;
}

textarea {
  height: 100px;
}
